<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Trips</title>
</head>
<body>
    <h1>Trips:</h1>
    {% for trip in trips %}
        <blockquote>
            <h2><li>{{ trip.destination }}</li></h2>
            <blockquote>
                <h4>Departure Date: {{ trip.departure_date }}</h4>
                <h4>Return Date: {{ trip.return_date }}</h4>
                <h4>Number Of Travelers: {{ trip.number_of_travelers }}</h4>
                <a href="{% url 'bookings:update_trip' trip.pk %}" style="background-color: blue; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                    Edit
                </a>
                <a href="{% url 'bookings:delete_trip' trip.pk %}" style="background-color: red; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                    Delete
                </a>
            </blockquote>
        </blockquote>
    {% endfor %}
</body>
</html>
